/* styles.css */

/* Set body background color and font styles */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* Style the header */
header {
  background-color: #007bff;
  padding: 20px;
}

header h1 {
  color: #fff;
}

/* Style the input group */
.input-group {
  margin-bottom: 20px;
}

/* Style the search button */
#search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style the clear button */
#clear-button {
  width: 100%;
}




#current-weather .card-body {
  text-align: center;
}

#current-weather img {
  max-width: 100px;
  margin: 10px auto;
}

#current-weather p {
  margin-bottom: 5px;
}

/* Style the forecast cards */
.forecast {
  text-align: center;
  color: #fff;
  padding: 10px;
}

/* Style the 5-day forecast header */
#fiveday-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

#fiveday-header h3 {
  font-weight: bold;
}

/* Responsive styles for small devices */
@media (max-width: 767px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}

.btn-success.previous-city {
  background-color: green;
  color: white;
}
/* Custom styling for green color */









































