/* styles.css */

/* Body */
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #007bff;
  padding: 20px;
}

header h1 {
  color: #fff;
  font-size: 28px;
  margin: 0;
}

/* Search Form */
#city-input {
  width: 100%;
}

#search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#clear-button {
  margin-top: 10px;
}

/* Current Weather */
#current-weather {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

#current-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#temperature {
  font-size: 18px;
  font-weight: bold;
}

#humidity,
#wind-speed {
  font-size: 16px;
}

/* 5-Day Forecast */
#fiveday-header {
  margin-top: 20px;
}

.forecast {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.forecast img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.forecast p {
  margin-bottom: 5px;
}








































